# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws

### Package Files ###
*.jar
*.war
*.ear

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### Java ###
*.class

### logs ###
logs/
